!!! 5
%html
  %head
    %title MTG Web Game
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "ember_application"
    = javascript_include_tag "rails_application"
    = csrf_meta_tags

  %body
    - if user_signed_in?
      = render "layouts/header"
    = yield

